<div class="widget-content-title"><span><f:translate key="{configuration.title}"/></span></div>
<p style="padding: 10px"><f:translate key="{configuration.description}"/></p>

<div style="overflow: scroll">
    <table class="widget-table">
        <tr>
            <th><f:translate key="LLL:EXT:mailchimp_widgets/Resources/Private/Language/locallang.xlf:sender"/></th>
            <th><f:translate key="LLL:EXT:mailchimp_widgets/Resources/Private/Language/locallang.xlf:recipient"/></th>
            <th><f:translate key="LLL:EXT:mailchimp_widgets/Resources/Private/Language/locallang.xlf:subject"/></th>
            <th><f:translate key="LLL:EXT:mailchimp_widgets/Resources/Private/Language/locallang.xlf:sent_at"/></th>
            <th><f:translate key="LLL:EXT:mailchimp_widgets/Resources/Private/Language/locallang.xlf:status"/></th>
            <th><f:translate key="LLL:EXT:mailchimp_widgets/Resources/Private/Language/locallang.xlf:id"/></th>
        </tr>
        <tbody>
            <f:if condition="{items.0}">
                <f:then>
                    <f:for each="{items}" as="item">
                        <tr>
                            <td>{item.sender}</td>
                            <td>{item.email}</td>
                            <td>{item.subject}</td>
                            <td><f:if condition="{item.ts} > 0"><f:format.date date="{item.ts}" format="Y-m-d H:i:s"/></f:if></td>
                            <td>{item.state}</td>
                            <td>{item._id}</td>
                        </tr>
                    </f:for>
                </f:then>
                <f:else>
                    <tr><td colspan="6"><f:translate key="LLL:EXT:mailchimp_widgets/Resources/Private/Language/locallang.xlf:no_items"/></td></tr>
                </f:else>
            </f:if>
        </tbody>
    </table>
</div>
